body {
  background-color: #053158;
}

.divider {
  padding-top: 20px;
}

* {
  box-sizing: border-box;
  text-align: center;
  color: #ffaec8;
}

.container-fluid {
  background-color: #053158;
}

.col {
  width: 33%;
  float: left;
  padding: 1%;
}

.row {
  padding: 3%;
}

.post-image {
  width: 100%;
  object-fit: contain;
  border-radius: 25px;
}

.btn {
  color: white;
}

#post-info {
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

#post-title {
}

#user-info {
}

.like {
  height: 25px;
  object-fit: contain;
  vertical-align: middle;
}

#post-description {
  font-family: "Courier New", Courier, monospace;
  background-color: #004d85;
  text-align: left;
  border-radius: 15px;
  padding: 5%;
  display: inline-block;
  height: 350px;
}

textarea {
  text-align: left;
  width: 90%;
  height: 90%;
}

.overflow-auto {
  height: 672px;
  width: 100%;
}
