<div class="card post-component">
  <img
    class="card-image-top post-image"
    src="https://www.fillmurray.com/640/360"
    alt="test-picture"
  />
  <div class="card-body post-content-holder">
    <div class="card-title post-title"><h5>Post Title</h5></div>
    <div class="like-dislike-container">
      <button class="btn">Like</button>
      <button class="btn">Dislike</button>
    </div>
    <div class="card-text post-description">
      lorem ipsum aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sin
    </div>
    <div class="card-text post-comment-holder">
      <p>((This is a test comment))</p>
      <p>((This is an even better comment))</p>
    </div>
  </div>
</div>

<!-- <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->
