.random-art-bar {
  border: 12px solid #ed308f;
  background-color: #ff83ae;
  width: 80vw;
  margin: auto;
  border-radius: 40px;
  padding: 10px;
  padding-top: 30px;
  z-index: 3;
}

.art-holder-box-2 {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

/* THIS '.art-holder' MIGHT BE CHANGED TO JUST IMAGES LATER */

.art-holder {
  border: 6px solid var(--mycobalt);
  border-radius: 10px;
  width: 200px;
  height: 200px;
}
