<div class="nav-holder">
  <nav class="admin-nav-holder">
    <h5>
      <a
        routerLink="/admin-dashboard"
        routerLinkActive="active"
        class="nav-link"
        >admin dashboard</a
      >
    </h5>
    <h5>
      <a
        routerLink="/admin-to-do-list"
        routerLinkActive="active"
        class="nav-link"
        >to-do list</a
      >
    </h5>
    <h5>
      <a routerLink="/admin-control" routerLinkActive="active" class="nav-link"
        >control options</a
      >
    </h5>
    <h5>
      <a
        routerLink="/admin-user-service"
        routerLinkActive="active"
        class="nav-link"
        >user service</a
      >
    </h5>
    <h5>
      <a routerLink="/welcome" routerLinkActive="active" class="nav-link"
        >logout</a
      >
    </h5>
  </nav>
</div>
