<div class="nav-holder">
  <nav class="dashboard-nav-bar">
    <h5>
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link"
        >dashboard</a
      >
    </h5>
    <h5>
      <a routerLink="/user-profile" routerLinkActive="active" class="nav-link"
        >my profile page</a
      >
    </h5>
    <h5>
      <a routerLink="/palettes" routerLinkActive="active" class="nav-link"
        >recommended palettes</a
      >
    </h5>
    <h5>
      <a routerLink="/tutorials" routerLinkActive="active" class="nav-link"
        >tutorials</a
      >
    </h5>
    <h5>
      <a routerLink="/about-us" routerLinkActive="active" class="nav-link"
        >about us</a
      >
    </h5>
    <h5>
<!--       <a routerLink="/welcome" routerLinkActive="active" class="nav-link"
        >log out</a
      > -->
      <a class="nav-link" (click)="onClick()"
      >log out</a
      >
    </h5>
  </nav>
</div>
