<div class="tutorials-container">
  <div class="header-section">
    <h1>Welcome to the Tutorials Section</h1>
  </div>
  <div class="forward-section">
    <h3>
      Unfortunately, we don't have any tutorials available right now. They are
      coming soon! In the meantime, there are some resources we would like to
      recommend to new pixel artists!
    </h3>
  </div>
  <div class="hyperlinks">
    <div class="download-links">
      <h2>Here are some helpful tools & resources!</h2>

      <h3>
        <a href="https://libresprite.github.io/#!/">Libresprite Download</a>
        (free)
      </h3>

      <h3>
        <a href="https://www.aseprite.org/">Aseprite Download</a>
        (proprietary, upgraded version of Libresprite)
      </h3>
    </div>
    <div class="youtube-links">
      <h2>Youtube Tutorials</h2>
      <h3>
        <a href="https://www.youtube.com/c/BJGpixel">Brandon James Greer</a>
        Brandon James Greer is a YouTuber who publishes weekly pixel art
        timelapses. Each video is narrated, with the host detailing his work
        flow and thought process. These are fun to watch and great sources of
        inspiration.
      </h3>
      <h3>
        <a href="https://www.youtube.com/c/BJGpixel">Adam C. Younis</a>
        Adam C. Younis is a YouTuber and Twitch streamer who specializes in
        pixel art and animation. He has been a full time indie game developer
        for several years and supports himself with his game development content
        on Twitch. His videos are good sources of technical information for more
        advanced pixel art techniques.
      </h3>
    </div>
  </div>
</div>
