* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

.tutorials-container {
  background-color: var(--mylavender);
  height: 100vh;
}

.header-section {
  padding-top: 2%;
}

.forward-section {
}
