* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

.admin-dashboard-content {
  background-color: var(--mydarkblue2);
  min-height: 100vh;
  padding-bottom: 30px;
}

.admin-dashboard-header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.admin-buttons-holder {
  border: 12px solid var(--mytan);
  background-color: var(--mydarkblue);
  width: 90vw;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 40px;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.admin-button {
  border-radius: 10px;
  width: 500px;
  height: 300px;
  padding-top: 20px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0.8;
  border: 1px solid black;
}

.admin-button:hover {
  transform: rotateZ(7deg);
  transition: 0.5s;
  border: 1px solid white;
  opacity: 1;
}

.to-do-list {
  background-color: var(--mylightblue);
}

.to-do-list:hover {
}

.to-do-list h2,
.to-do-list h4 {
  color: var(--mycharcoal);
}

.admin-control {
  background-color: var(--mypink);
  color: white;
}

.view-user-info {
  background-color: var(--mylavender);
  color: var(--mydarkblue);
}
