<h2>Login</h2>
<form class="form">
    <label for="username">Username:</label><br />
    <input
    type="text"
    id="uname"
    name="username"
    placeholder="Username"
    #username
    />
    <br />

    <label for="password">Password:</label><br />
    <input
    type="password"
    id="pword"
    name="password"
    placeholder="Password"
    #password
    />
    <br /><br />

    <button type="button" class="btn btn-success" (click)="onSubmit(username.value, password.value)">Login</button>
</form>
