* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

.container {
  height: 80%;
  min-width: 100vw;
  background-color: var(--mydarkblue);
}

.header {
  padding-top: 15px;
  padding-bottom: 30px;
}

.gallery-description {
  padding-bottom: 30px;
}

.gallery-row {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.gallery-item {
  flex: 1;
  flex-basis: 33%;
}
