* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

.container {
  min-width: 100vw;
  background-color: var(--mydarkblue);
}

.header {
  padding-top: 15px;
  padding-bottom: 30px;
}

.gallery-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}
