<div class="container">
  <div class="header"><h1>My Gallery</h1></div>

  <div class="gallery-description">
    <h3>This is your gallery. Make new posts, see old posts. Enjoy :)</h3>
  </div>
  <div class="gallery">
    <div class="gallery-row">
      <div class="gallery-item">
        <div>
          <img
            src="https://picsum.photos/id/420/300/200"
            alt="Gallery Item 1"
          />
        </div>
        <p>Image Title</p>
      </div>
      <div class="gallery-item">
        <div>
          <img
            src="https://picsum.photos/id/366/300/200"
            alt="Gallery Item 2"
          />
        </div>
        <p>Image Title</p>
      </div>
      <div class="gallery-item">
        <div>
          <img
            src="https://picsum.photos/id/218/300/200"
            alt="Gallery Item 3"
          />
        </div>
        <p>Image Title</p>
      </div>
    </div>
    <div class="gallery-row">
      <div class="gallery-item">
        <div>
          <img
            src="https://picsum.photos/id/237/300/200"
            alt="Gallery Item 4"
          />
        </div>
        <p>Image Title</p>
      </div>
      <div class="gallery-item">
        <div>
          <img
            src="https://picsum.photos/id/676/300/200"
            alt="Gallery Item 5"
          />
        </div>
        <p>Image Title</p>
      </div>
      <div class="gallery-item">
        <div>
          <img
            src="https://picsum.photos/id/701/300/200"
            alt="Gallery Item 6"
          />
        </div>
        <p>Image Title</p>
      </div>
    </div>
  </div>
</div>
