.header-container {
    display: flex;
    flex-direction: row;
    width: 970px;
    margin: auto;
    padding: 20px;
}

#company-logo {
    flex: 2;
}

h1 {
    font-size: 25px;
    font-weight: thin;
    font-family: "Rock Salt", cursive;
    color: #ddd;
    line-height: 35px;
    text-shadow: 1px 1px 3px #333;
}

.menu-wrapper {
    flex: 2;
    line-height: 35px;
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
}