<div class="header-container">
    <!-- Company Logo takes you back to dashboard -->
    <div id="company-logo">
        <h1>
            <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">Pixel Station</a
      >
    </h1>
  </div>

  <!-- Nav menu -->
  <nav class="menu-wrapper">
    <ul id="user-menu">
      <li class="user-menu">
        <a href="#my-story">My Story</a>
            </li>
            <li class="user-menu">
                <a href="#gallery">Gallery</a>
            </li>
            <li class="user-menu">
                <a href="#following">Following</a>
            </li>
            <li class="user-menu">
                <a href="#log-out">Log Out</a>
            </li>
            </ul>
            </nav>
    </div>