<div class="login-background">
  <div class="login-zone">
    <div class="login-form-holder">
      <h1>Welcome to</h1>
      <h1>Pixel Station</h1>
      <p>A Place to Share Art</p>

      <div class="login-button-holder">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a routerLink="/login" routerLinkActive="active" class="nav-link"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a routerLink="/register" routerLinkActive="active" class="nav-link"
              >Register</a
            >
          </li>
          <li class="nav-item">
            <a routerLink="/about" routerLinkActive="active" class="nav-link"
              >About</a
            >
          </li>
          <li class="admin">
            <a routerLink="/admin" routerLinkActive="active" class="nav-link"
              >Admin Login</a
            >
          </li>
          <li class="dashboard">
            <a
              routerLink="/dashboard"
              routerLinkActive="active"
              class="nav-link"
              >Dashboard</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
