<form class="form">
    <label for="title">Title:</label><br/>
    <input type="text" id="title" name="title" [(ngModel)]="title" #name="ngModel" required><br/>
    <label for="descript">Description:</label><br/>
    <textarea id="descript" name="descript" [(ngModel)]="descript" #description="ngModel" required></textarea><br/>
    <input type="file" class="file-input" name="photo" (change)="onChange($event)" required #fileUpload><br/>
    <button class="btn btn-primary" type="submit" (click)="onSubmit()">Make Post</button>
</form>
