<div class="admin-user-service-content">
  <div class="admin-nav-holder">
    <app-admin-nav-holder></app-admin-nav-holder>
  </div>
  <div class="admin-dashboard-header">
    <h1>Welcome To Admin User Service ((boi))!</h1>
  </div>
  <div class="admin-holder">
    <div class="header flex-item">
      <h2>View All Users?</h2>
    </div>

    <form class="form">
      <div class="flex-item">
        <button class="button" type="submit">View Users</button>
      </div>
      <div class="header flex-item">
        <h2>View All Posts?</h2>
      </div>

      <div class="flex-item">
        <button class="button" type="submit">View Posts</button>
      </div>
    </form>
  </div>
</div>
