* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: white;
  background-color: var(--mydarkblue);
}

.dashboard-content {
  min-height: 100vh;
  padding-top: 20px;
}

.wave .wave2 .wave3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave .wave2 .wave3 svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 288px;
}

.wave .shape-fill {
  fill: var(--mydarkblue);
}
.wave2 .shape-fill {
  fill: var(--mylavender);
}
.wave3 .shape-fill {
  fill: var(--mybrown);
}

.curve-divider-pink {
  background-color: var(--mydarkblue);
}

.curve-divider-blue {
  background-color: var(--mylavender);
}

.curve-divider-yellow {
  background-color: var(--mybrown);
}

.svg-1 {
  background-color: var(--mylavender);
}

.svg-2 {
  background-color: var(--mybrown);
}

.button {
  transition: 0.3s;
  margin: auto;
  padding-top: 8px;
  display: block;
  height: 50px;
  width: 120px;
  background-color: var(--mydarkblue2);
  border: 1px solid white;
  border-radius: 5px;
}

.button:hover {
  transform: rotateZ(360deg);
  transition: 0.3s cubic-bezier(0.34, -0.09, 0.53, 1.33);
  background-color: white;
  border: 1px solid black;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}
