<div class="dashboard-content">
  <app-nav-holder></app-nav-holder>
  <div class="curve-divider-pink">
    <app-dashboard-header
      *ngIf="user"
      [boi]="user.username"
    ></app-dashboard-header>
    <app-profile-picture *ngIf="user" [id]="user.user_id"></app-profile-picture>
    <a routerLink="/post-form" routerLinkActive="active" class="spin-button">
      Create Post
    </a>
  </div>
  <div class="wave">
    <svg
      class="svg-1"
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>

  <div class="tags-bar"></div>
  <div class="dashboard-bottom-half">
    <div class="curve-divider-blue">
      <app-featured-artist-bar></app-featured-artist-bar>
    </div>
    <div class="wave2">
      <svg
        class="svg-2"
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
          class="shape-fill"
        ></path>
      </svg>
    </div>
    <div class="curve-divider-yellow">
      <app-random-art-bar></app-random-art-bar>
    </div>

    <div class="wave3">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
          class="shape-fill"
        ></path>
      </svg>
    </div>
  </div>
</div>
