<div>
    <label for="new-post">New Post: </label>
    <!-- upload pic -->
    <textarea name="new-post" placeholder="Enter your message..." #post></textarea>
    <button type="button" class="post-button" (click)="add(); post.value = ''">
    Post
  </button>
</div>

<!-- <ul class="posts">
    <li *ngFor="let post of posts">
        <a routerLink="/post/{{ post.id }}">
            <span class="badge">{{ post.id }}</span> {{ post.name }}
        </a>
        <button type="button" class="delete" title="delete post" (click)="delete(post)">
      Delete</button>
    </li>
</ul> -->