* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

.admin-control-content {
  background-color: var(--mydarkblue2);
  min-height: 100vh;
  padding-bottom: 30px;
}

.admin-nav-holder {
  padding-top: 20px;
}

.admin-dashboard-header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.admin-holder {
  border: 12px solid var(--mypalepink);
  background-color: var(--mypink);
  width: 90vw;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 40px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.header {
  padding: 20px;
}

.flex-item {
  padding: 10px;
}

input[type="number"],
textarea {
  background-color: var(--mydarkblue2);
  color: white;
}

.button {
  transition: 0.3s;
  margin: auto;
  display: block;
  height: 50px;
  width: 140px;
  background-color: var(--mydarkblue);
  border: 1px solid white;
  border-radius: 5px;
}

.button:hover {
  color: black;
  transform: rotateZ(7deg);
  transition: 0.3s cubic-bezier(0.34, -0.09, 0.53, 1.33);
  background-color: white;
  border: 1px solid var(--mylavender);
}
