<div class="login-background">
  <div class="login-zone">
    <div class="login-form-holder">
      <h1>Welcome to</h1>
      <h1>Pixel Station</h1>
      <br />
      <p>A Place to Share Art</p>

      <div class="login-button-holder">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <button (click)="showLogin()" class="nav-link">Login</button>
          </li>
          <li class="nav-item">
            <button (click)="showRegister()" class="nav-link">Register</button>
          </li>
          <li class="nav-item hidden">
            <button (click)="showAbout()" class="nav-link">About</button>
          </li>
          <li class="admin">
            <a routerLink="/admin" routerLinkActive="active" class="nav-link"
              >Admin Login</a
            >
          </li>
          <li class="dashboard hidden">
            <a
              routerLink="/dashboard"
              routerLinkActive="active"
              class="nav-link"
              >Dashboard</a
            >
          </li>
          <li class="post hidden">
            <a routerLink="/post" routerLinkActive="active" class="nav-link"
              >Post Object</a
            >
          </li>
        </ul>
      </div>

      <div *ngIf="login">
        <app-login></app-login>
      </div>

      <div *ngIf="register">
        <app-register></app-register>
      </div>

      <div *ngIf="about">
        <app-about></app-about>
      </div>
    </div>
  </div>
</div>
