* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--mygray);
  background-color: var(--mycharcoal);
}

.dashboard-content {
  min-height: 100vh;
  padding-bottom: 200px;
}

.dashboard-bottom-half {
  padding-top: 2vh;
}
