<div class="about-us-holder">
    <div class="nav-holder">
        <app-nav-holder></app-nav-holder>
    </div>
    <div class="header">
        <h1>About Us</h1>
    </div>
    <div class="sub-header">
        <h3>
            We are so proud and humbled that you came to our website. We are passionate and nostalgic for pixel art and believe people sharing their work here will inspire more and more people to learn and share their creativity!
        </h3>
    </div>
    <div class="sub-header lavender">
        <h2>- Meet the Team -</h2>
    </div>

    <div class="flex-container darkblue">
        <div class="flex-item"><img src="../../assets/brandon-about.jpg" /></div>
        <div class="flex-item flex-item-text">
            <h3>Brandon Jones</h3>
            <br />
            <h5>
                I'm in charge of CSS. I designed the palette section located in your nav bar.
            </h5>
        </div>
    </div>
    <div class="flex-container brown">
        <div class="flex-item flex-item-text">
            <h3>Dezel Davis</h3>
            <br />
            <h5>
                I handle back-end development and database management. I remember your name, your password, everything! ;)
            </h5>
        </div>
        <div class="flex-item"><img src="../../assets/dezelsample.PNG" /></div>
    </div>
    <div class="flex-container palepink">
        <div class="flex-item"><img src="../../assets/justin-about.JPG" /></div>
        <div class="flex-item flex-item-text">
            <h3>Justin Banks</h3>
            <br />
            <h5>I manage user integration, without me you couldn't login or register to use the site. I have also handled the the individual post details page where you can see an expanded view of the post and details.
            </h5>
        </div>
    </div>
    <div class="flex-container darkblue2">
        <div class="flex-item flex-item-text">
            <h3>Anthony Nysveen</h3>
            <br />
            <h5>
                My job is curating the user experience. I've customized your gallery page so you can display all your works in one place!
            </h5>
        </div>
        <div class="flex-item"><img src="../../assets/AN.JPG" /></div>
    </div>
</div>