* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--mygray);
  background-color: var(--mycharcoal);
}

.admin-dashboard-content {
  min-height: 100vh;
  padding-bottom: 30px;
}

.admin-dashboard-header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.admin-buttons-holder {
  border: 12px solid var(--mycobalt);
  width: 90vw;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 40px;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40vh;
  display: flex;
  justify-content: space-around;
}

.admin-button {
  border: 6px solid var(--mycobalt);
  background-color: var(--mycobalt);
  border-radius: 10px;
  width: 500px;
  height: 300px;
  padding-top: 20px;
}
