.featured-artist-bar {
  border: 12px solid var(--mylightblue);
  background-color: var(--mydarkblue);
  width: 70vw;
  margin: auto;

  border-radius: 40px;
  padding: 10px;
}

/* THIS '.art-holder' MIGHT BE CHANGED TO JUST IMAGES LATER */

.art-holder-box {
  display: flex;
  justify-content: space-evenly;
}

.art-holder {
  border: 6px solid var(--mydarkblue2);
  border-radius: 10px;
  width: 200px;
  height: 200px;
}

.featured-artist-link-holder {
  padding-top: 20px;
  padding-bottom: 10px;
}

a {
  display: inline-block;
  color: var(--mylightblue);
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  transition: 0.2s;
  color: var(--mylavender);
}
