<h2>Register</h2>
<p class="text-danger">{{message}}</p>
<form class="form">
    <label for="username">Username:</label><br />
    <input
    type="text"
    id="uname"
    placeholder="Username"
    #username
    required
    />
    <br />

    <label for="password">Password:</label><br />
    <input
    type="password"
    id="pword"
    name="password"
    placeholder="Password"
    #password
    required
    />
    <br />

    <label for="email">Email:</label><br />
    <input
    type="email"
    id="email"
    name="email"
    placeholder="user@email.com"
    #email
    required
    />
    <br /><br />

    <button type="button" class="btn btn-success" (click)="onSubmit(username.value, password.value, email.value)">Register</button>
</form>