<h2>Register</h2>
<p [class]="text" *ngIf="showMessage">{{ message }}</p>
<form class="form">
    <label for="username">Username:</label><br />
    <p class="text-danger" *ngIf="username.invalid && (username.dirty || username.touched) || showUnameMessage">Username is required</p>
    <input
    type="text"
    id="uname"
    name="uname"
    placeholder="Username"
    [(ngModel)]="uname"
    #username="ngModel"
    required
    />
    <br />

    <label for="password">Password:</label><br />
    <div class="text-danger" *ngIf= "showPwordMessage || (password.dirty || password.touched)">
        <p *ngIf="password.errors?.['required']">Password is required</p>
        <p *ngIf="password.errors?.['minlength']">Password must be 4 characters minumum</p>
    </div>
    <input
    type="password"
    id="pword"
    name="pword"
    placeholder="Password"
    required
    minlength="4"
    [(ngModel)]="pword"
    #password="ngModel"
    />
    <br />

    <label for="fname">First Name:</label><br />
    <p class="text-danger" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched) || showFnameMessage">First name is required</p>
    <input
    type="text"
    id="fname"
    name="fname"
    placeholder="First Name"
    required
    [(ngModel)]="fname"
    #firstName="ngModel"
    />
    <br />

    <label for="lname">Last Name:</label><br />
    <p class="text-danger" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched) || showLnameMessage">Last name is required</p>
    <input
    type="text"
    id="lname"
    name="lname"
    placeholder="Last Name"
    required
    [(ngModel)]="lname"
    #lastName="ngModel"
    />
    <br />

    <label for="email">Email:</label><br />
    <p class="text-danger" *ngIf="Email.invalid && (Email.dirty || Email.touched) || showEmailMessage">Enter a valid Email</p>
    <input
    type="email"
    id="email"
    name="email"
    placeholder="user@email.com"
    required
    [(ngModel)]="email"
    #Email="ngModel"
    />
    <br /><br />

    <button type="button" class="btn btn-success" (click)="onSubmit()">Register</button>
</form>