<h2>Register</h2>
<p [class]="text" *ngIf="showMessage">{{ message }}</p>
<form class="form">
    <label for="username">Username:</label><br />
    <p class="text-danger" *ngIf="showUnameMessage">{{ message }}</p>
    <input
    type="text"
    id="uname"
    placeholder="Username"
    #username
    required
    />
    <br />

    <label for="password">Password:</label><br />
    <p class="text-danger" *ngIf="showPwordMessage">{{ message }}</p>
    <input
    type="password"
    id="pword"
    name="password"
    placeholder="Password"
    #password
    required
    />
    <br />

    <label for="fname">First Name:</label><br />
    <p class="text-danger" *ngIf="showFnameMessage">{{ message }}</p>
    <input
    type="text"
    id="fname"
    name="fname"
    placeholder="First Name"
    #fname
    required
    />
    <br />

    <label for="lname">Last Name:</label><br />
    <p class="text-danger" *ngIf="showLnameMessage">{{ message }}</p>
    <input
    type="text"
    id="lname"
    name="lname"
    placeholder="Last Name"
    #lname
    required
    />
    <br />

    <label for="email">Email:</label><br />
    <p class="text-danger" *ngIf="showEmailMessage">{{ message }}</p>
    <input
    type="email"
    id="email"
    name="email"
    placeholder="user@email.com"
    #email
    required
    />
    <br /><br />

    <button type="button" class="btn btn-success" (click)="onSubmit(username.value, password.value, fname.value, lname.value, email.value)">Register</button>
</form>