<h2>Login</h2>
<p class="text-danger" *ngIf="showMessage">Invalid username or password. Please try again</p>
<form class="form">
  <label for="username">Username:</label><br />
  <p class="text-danger" *ngIf="username.invalid && (username.dirty || username.touched) || showUnameMessage">Username is required</p>
  <input
    type="text"
    id="uname"
    name="uname"
    placeholder="Username"
    required
    [(ngModel)]="uname"
    #username="ngModel"
  />
  <br />

  <label for="password">Password:</label><br />
  <p class="text-danger" *ngIf="password.invalid && (password.dirty || password.touched) || showPwordMessage">Password is required</p>
  <input
    type="password"
    id="pword"
    name="pword"
    placeholder="Password"
    required
    [(ngModel)]="pword"
    #password="ngModel"
  />
  <br /><br />

  <button type="button" (click)="onSubmit()">Login</button> <a routerLink="/forgotPassword">Forgot Password</a>
</form>
