* {
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

.nav-holder {
  padding-top: 20px;
  padding-bottom: 20px;
}

.user-profile-component {
  min-height: 100%;
  height: 100vh;
  width: 100vw;
  background-color: var(--mylavender);
}

.button-holder {
  padding: 1%;
}

.spin-button {
  transition: 0.3s;
  margin: auto;
  padding-top: 8px;
  display: block;
  height: 50px;
  width: 120px;
  background-color: var(--mydarkblue2);
  border: 1px solid white;
  border-radius: 5px;
}

.spin-button:hover {
  transform: rotateZ(360deg);
  transition: 0.3s cubic-bezier(0.34, -0.09, 0.53, 1.33);
  background-color: white;
  border: 1px solid black;
  color: var(--mydarkblue);
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
