* {
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

.nav-holder {
  padding-top: 20px;
  padding-bottom: 20px;
}

.user-profile-component {
  min-height: 100%;
  height: 100vh;
  width: 100vw;
  background-color: var(--mylavender);
}
