* {
  box-sizing: border-box;
  text-align: center;
  background-color: var(--mycharcoal);
  color: var(--mygray);
}

a {
  text-decoration: none;
}

.post-component {
  width: 18rem;
  cursor: pointer;
  transition: 0.4s;
  opacity: 0.95;
}

.post-component:hover {
  transform: translateY(-8px);
  transition: 0.4s;
  opacity: 1;
  border: 1px solid white;
}

.post-title h5 {
  color: white;
}

.like-dislike-container {
  display: flex;
  justify-content: space-evenly;
}

.like-btn {
  background-color: blue;
  color: white;
}

.dislike-btn {
  background-color: red;
  color: white;
}
