<div class="palette-gallery">
  <img
    src="../../assets/Citrink-8-by-Inkpendude(16-9-aspect-ratio).png"
    alt="#"
    id="fullscreen-image"
  />
  <div class="thumbnail-holder">
    <div class="image-thumbnails">
      <div class="image-slide">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
          <img src="../../assets/back-button.png" alt="#"
        /></a>
      </div>
      <div class="image-slide active">
        <img
          src="../../assets/Citrink-8-by-Inkpendude(16-9-aspect-ratio).png"
          alt="#"
          appPaletteDirective
        />
      </div>

      <div class="image-slide">
        <img
          src="../../assets/AYY-4-by-Polyducks(16-9-aspect-ratio).png"
          alt="#"
          appPaletteDirective
        />
      </div>
      <div class="image-slide">
        <img
          src="../../assets/Midnight-Blaze-7-by-Inkpendude(16-9-aspect-ratio).png"
          alt="#"
          appPaletteDirective
        />
      </div>
      <div class="image-slide">
        <img
          src="../../assets/Twilight-5-by-Star(16-9-aspect-ratio).png"
          alt="#"
          appPaletteDirective
        />
      </div>
      <div class="image-slide">
        <img
          src="../../assets/Eulbink-7-by-Inkpendude(16-9-aspect-ratio).png"
          alt="#"
          appPaletteDirective
        />
      </div>
      <div class="image-slide">
        <img
          src="../../assets/SLSO-8-by-Luis-Miguel_Maldonado(16-9-aspect-ratio).png"
          alt="#"
          appPaletteDirective
        />
      </div>
    </div>
  </div>
</div>
