/* You can add global styles to this file, and also import other style files */
:root {
  --mycharcoal: #1f1f1f;
  --mygray: #9f9f9f;
  --mydarkblue: #053158;
  --mydarkblue2: #004d85;
  --mylightblue: #98c4f2;
  --mylavender: #914b79;
  --mypalepink: #ffaec8;
  --mypink: #f64a80;
  --mybrown: #fea38e;
  --mytan: #fdc7ad;
}

button {
  color: white;
  padding: 10px;
  border: none;
  background: none;
}

input[type="text"],
textarea,
input[type="password"],
textarea,
input[type="email"],
textarea {
  background: none;
  color: white;
}

::placeholder {
  color: white;
}
