.nav-holder {
  border: 12px solid #e9aa2c;
  background-color: #fee998;
  width: 85vw;
  margin: auto;
  border-radius: 4px;
  padding: 10px;
}

.dashboard-nav-bar {
  display: flex;
  justify-content: space-around;
}
